//- 5 Hours done

doctype
html
	head
		title B.O.B. Quoting Tool
		link(rel="stylesheet", href="css/bootstrap.css")
		link(rel="stylesheet", href="css/app.css")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css")
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600', type='text/css')
		meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
	body#app
		div.container
			div.row
				div.col-md-offset-4.col-md-4.col-xs-12
					div.quote-view
						div.animated.quote-content(v-show="!estimate", v-cloak, transition="fade")
							br
							div.well
								h2.text-center Get a Quote
								br

								div.form-group
									label # of Passengers
									select.form-control(type="text", v-model="passengers")
										option(value="")
										option(value="11") 11
										option(value="14") 14

								div.form-group
									label Reserved or On Demand
									select.form-control(type="text", v-model="type")
										option(value="")
										option(value="Reserved") Reserved
										option(value="On Demand") On Demand

								div.form-group
									label Choose Starting Point
									places(model="start", placeholder="123 Apartments Mesa, AZ")

								div.form-group
									label Choose Destination
									places(model="end", placeholder="456 Destination Mesa, AZ")

								div.checkbox(v-cloak, v-show="type === 'Reserved'")
									label
										input(type="checkbox", v-model="roundTrip")
										| Round Trip

								br

								div.form-group.text-center
									button.btn.btn-lg.btn-dark(@click="getQuote") Quote Me



					div.quote-view
						div.animated.quote-content(v-show="estimate", v-cloak, transition="fade")
							br
							div.well
								h2.text-center Quote Estimate
								h1.text-center(style="font-size: 50px;") {{ estimate.quote | currency }}
								br
								div.text-center
									button.btn.btn-lg.btn-dark Contact Us
									br
									br
									button.btn.btn-lg.btn-link(@click="reset") Get Another Quote


		script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdZF1t8WvCfvcP0Yq27UZi0gIIsjWs7qw&libraries=places")
		script(type="text/javascript", src="js/vue.js")
		script(type="text/javascript", src="js/app.js")

