//- 5 Hours done

doctype
html
	head
		title B.O.B. Quoting Tool
		link(rel="stylesheet", href="css/bootstrap.css")
		link(rel="stylesheet", href="css/app.css")
		link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600', type='text/css')
		meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
	body#app
		div.container
			div.row
				div.col-md-offset-4.col-md-4.col-xs-12
					div.quote-view
						div.animated.quote-content(v-show="!estimate", v-cloak, transition="fade")
							br
							div.well
								h2.text-center B.O.B. Fare Estimator
								br

								div.form-group
									label # of Passengers
									div.btn-group.btn-group-justified
										a.btn.btn-default(@click="passengers = 11", :class='{ active: passengers == 11 }') 11
										a.btn.btn-default(@click="passengers = 14", :class='{ active: passengers == 14 }') 14

								div.form-group
									label Reserved or On Demand
									div.btn-group.btn-group-justified
										a.btn.btn-default(@click="type = 'Reserved'", :class='{ active: type == "Reserved" }') Reserved
										a.btn.btn-default(@click="type = 'On Demand'", :class='{ active: type == "On Demand" }') On Demand

								div.form-group
									label Starting Address
									div.input-group
										places(id="start", model="start", placeholder="123 Apartments Mesa, AZ")
										span.input-group-btn
											button.btn.btn-default(@click="clearPlace('start')"): i.fa.fa-close

								div.form-group
									label Destination Address
									div.input-group
										places(id="end", model="end", placeholder="456 Destination Mesa, AZ")
										span.input-group-btn
											button.btn.btn-default(@click="clearPlace('end')"): i.fa.fa-close

								div.checkbox(v-cloak, v-show="type === 'Reserved'")
									label
										input(type="checkbox", v-model="roundTrip")
										| Round Trip

								br

								div.form-group.text-center
									button.btn.btn-lg.btn-dark(@click="getQuote") Quote Me



					div.quote-view
						div.animated.quote-content(v-show="estimate", v-cloak, transition="fade")
							br
							div.well
								h2.text-center Quote Estimate
								h1.text-center(style="font-size: 50px;") {{ estimate.quote | currency }}
								h3.text-center Want to book it?
								br
								div.text-center
									div
										a.btn.btn-lg.btn-dark.btn-circle(style="width: 150px;", href="tel:4809498294")
											i.fa.fa-phone
											| &nbsp; Call Us
										br
										br
										a.btn.btn-lg.btn-default.btn-circle(:href="contact")
											i.fa.fa-envelope
											| &nbsp; Email Us
									button.btn.btn-lg.btn-link(@click="reset", style="margin-top: 15px") Get Another Quote


		script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdZF1t8WvCfvcP0Yq27UZi0gIIsjWs7qw&libraries=places")
		script(type="text/javascript", src="js/jquery.js")
		script(type="text/javascript", src="js/vue.js")
		script(type="text/javascript", src="js/app.js")

